<div class="mx-auto max-w-3xl mt-16">
  <header class="mb-5">
    <h1 class="text-7xl text-red-500 mb-6 text-center">todos</h1>

    <%= render 'form', todo: Todo.new %>
  </header>
  <section class="min-w-full">
    <ul id="todo_list">
      <%= render @todos %>
    </ul>
  </section>
</div>

